.header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
}

.header span{
  padding: 10px 20px;
}

.logo{
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  padding-left: 10px;
}

.navigation {
  display: inline-block;
  padding-right: 20px;
}

.navigation a{
  color: black;
}

.content {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}


.large {
  display: flex;
  width: 630px;
  flex-direction: column;
}

.medium {
  display: flex;
  width: 300px;
  flex-direction: column;

}

.small {
  display: flex;
  width: 240px;
  flex-direction: column;
}
